body {
    /* margin: 0; */
    /* display: grid; */
    /* place-items: center; */
    /* background-color: #1b1b1b; */
    background: linear-gradient(0deg, #070917 20%, #131726 80%);
    
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    width: '100%';
    /* backgroundColor: '#2b2b2b'; */
}

.wrapper {
    background-color: #fff9e6;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #8873be;
}